/*
 * Style Guide:
 *
 *    black  - #010101
 *    green  - #66FF33
 *    gray   - #787878;
 *    ltgray - #CCCCCC;
 */

body {
  clear: both;
  color: #010101;
  font-family: helvetica, arial, clean, sans-serif; 
  font-size: 18px;
  margin: 25px 125px 25px 125px;
  padding: 0px;
}

h1 { color: #CCCCCC; text-align: right; }

h1 > a { color: #CCCCCC; }

h2, h3, h4 {  color: #787878; }

em { color: #EEEEEE; }

a { color: #787878; text-decoration: none; }

a:hover { color: #66FF33 }

pre, code {
  color: #787878;
  -x-system-font:none;
  font-family:"Bitstream Vera Sans Mono", Monaco, "Courier New", monospace;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
}

pre {
  font-size: 12px;
  background-color: #010101;
  margin: 25px;
  padding: 10px;
  line-height: 16px;
  overflow: hidden;
}

pre > code { color: #66FF33; }

ul#posts { list-style-type: none; text-align: left; }

ul#posts li { color: #CCCCCC; }

ul#posts li a { color: #010101; }

#header { margin-bottom: 10px; }

#content {
  width: 650px;
  margin: 0px auto;
}

#content a { text-decoration: underline; }

#footer {
  border-top: 1px solid #CCCCCC;
  margin-top: 20px;
  padding-top: 10px;
}
