body {
  clear: both;
  color: #010101;
  font-family: helvetica, arial, clean, sans-serif; 
  font-size: 12px;
  margin: 50px;
  padding: 0px;
}

h1, h2, h3, h4 {  color: #787878; }

a { color: #7EAD01; }

pre, code {
  color: #66FF33;
  -x-system-font:none;
  font-family:"Bitstream Vera Sans Mono", Monaco, "Courier New", monospace;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
}

pre {
  background-color: #010101;
  border: 1px solid #333;
  padding: 10px;
  line-height: 16px;
}
